@{
	ViewBag.Title = "Home Page";
	ViewBag.NavActive = "Home";
}

<div class="hero-unit">
	<h2>Welcome to the North West Valley .Net User Group!</h2>
	<p>This user group is a environment for .NET developers and IT professionals building real-world solutions using the Microsoft.NET platform.</p>
	<p>We will provide the opportunity for members to share knowledge and have technical discussions with other local community members and industry recognized leaders.</p>
	<p></p>
</div>      
<div class="row"> 
		<div class="span5"> 
		  <h2>Meeting Information</h2> 
		  <p>Our meeting information and RSVPs is now done on Meetup.com</p> 
		  <p><a class="btn" href="http://meetup.com/nwvdnug">Meetup Page &raquo;</a></p> 
		</div> 
		<div class="span3"> 
	   </div> 
	<div class="span5">
		<h2>Network</h2> 
		<p>To stay up to date on events and communicate with fellow members</p>
		<p><a class="btn" href="@Url.Action("Network")">Network &raquo;</a></p> 
	</div> 
</div>

@section Head {
}